*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}


body{

background:#f4f8ff;

}



header{

background:#0077ff;
color:white;
text-align:center;
padding:30px;

}



.appointment-box{

width:90%;
max-width:600px;
background:white;
margin:40px auto;
padding:30px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);

}



.appointment-box h2{

text-align:center;
margin-bottom:20px;

}




label{

display:block;
margin-top:15px;
font-weight:bold;

}




input,
select,
textarea{

width:100%;
padding:12px;
margin-top:8px;
border:1px solid #ccc;
border-radius:8px;

}



textarea{

height:100px;
resize:none;

}




button{

margin-top:20px;
width:100%;
padding:12px;

background:#0077ff;

color:white;

border:none;

border-radius:25px;

font-size:16px;

cursor:pointer;

}



button:hover{

background:#005fcc;

}



#message{

text-align:center;
margin-top:15px;
font-weight:bold;

}