*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}



body{

background:#f4f8ff;

}



header{

background:#0077ff;
color:white;
text-align:center;
padding:30px;

}



.search-section{

text-align:center;
padding:30px;

}



#searchBox{

width:60%;
padding:15px;
border-radius:25px;
border:1px solid #ccc;
font-size:16px;

}




.doctor-container{

display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;

}




.doctor-card{

background:white;
width:280px;
padding:20px;
text-align:center;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);

}



.doctor-card img{

width:150px;
height:150px;
border-radius:50%;
object-fit:cover;

}



.doctor-card h3{

color:#0077ff;
margin:15px;

}



.doctor-card button{

background:#0077ff;
color:white;
border:none;
padding:10px 25px;
border-radius:20px;
cursor:pointer;

}


.doctor-card button:hover{

background:#005fcc;

}